.draggable {
    margin: 0 auto 20px;
    display: inline-block;
    width: fit-content;
}

.draggable p {
    border: 1px solid #ddd;
    padding: 25px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
    cursor: grab;
}

.draggable p:hover {
    background-color: #e0e0e0;
}

.dropzone {
    border: 1px dashed #ccc;
    height: 50px;
}

.hidden {
    display: none;
}

.visible, .dropped {
    display: block;
}

.verify, .retry {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.verify:hover, .retry:hover {
    background-color: #45a049;
}

.correct {
    color: green;
    text-align: center;
    margin-top: 20px;
}

.no-drag {
    cursor: default;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
