.draggable {
    border: 1px solid #ddd;
    margin: 0 auto 20px auto;
    padding: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    width: fit-content;
}

.draggable ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.draggable p, .draggable button {
    margin: 10px 0;
    cursor: grab;
    transition: background-color 0.3s;
}

.draggable p:hover, .draggable button:hover {
    background-color: #e0e0e0;
}

.dropzone {
    border: 1px dashed #ccc;
    height: 50px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.dropped {
    display: block;
}

#verify {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#verify:hover {
    background-color: #45a049;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
