body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: var(--bg-body);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

p {
    text-align: justify;
    line-height: 1.6;
    color: var(--text-dark); /* Dark grey text color */
}

a {
    color: var(--link);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hov);
}

header {
    width: 100%;
    background-color: var(--bg-head);
    color: var(--text-light);
    padding: 20px;
    text-align: center;
}

nav {
    width: 100%;
    background-color: var(--bg-nav);
    color: var(--text-light);
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
}

main {
    padding: 15px 40px;
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-sec);
    border-radius: 15px;
    padding: 20px;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside {
    display: flex;
    align-items: center;
    padding: 15px 40px;
}

aside img {
    width: 100px;
    height: 100px;
    margin: 10px 40px;
}

.box {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.box li {
    flex: 1 1 200px;
    background-color: var(--bg-box);
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
}

.line {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.line::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--bg-line);
}

.line li {
    position: relative;
    padding: 40px 15px 15px;
    text-align: center;
}

.line li::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    width: 20px;
    height: 20px;
    background: var(--bg-line);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: var(--bg-foot);
    color: var(--text-light);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

header a, nav a, footer a {
    color: var(--text-light);
}
