body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbfaf5;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #e4e4e4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
}

main {
    padding: 20px;
}

aside {
    display: flex;
    align-items: center;
    padding: 20px;
}

aside img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #e4e4e4;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}
