body {
    background-color: var(--main);
    margin: 10px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

p {
    text-align: justify;
    line-height: 1.6;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: var(--acc);
}

button {
    color: var(--dark); 
    background-color: var(--light);
    border: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
}

button:hover { 
    background-color: var(--sec);
}

img {
    width: 100px;
    height: 100px;
    margin: 10px 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid var(--dark);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--light);
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
}

.box li {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: calc(25% - 20px); 
}

.draggable {
    margin: 0 auto 20px;
    display: inline-block;
    width: fit-content;
}

.draggable p {
    border: 1px solid var(--dark);
    background-color: var(--main);
    padding: 25px;
    transition: background-color 0.3s;
}

.draggable p:hover {
    background-color: var(--sec);
}

.dropzone {
    border: 1px dashed var(--dark);
    height: 50px;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.visible, .dropped {
    display: block;
}

.no-drag {
    cursor: default;
}
