body {
    background-color: var(--main);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

p {
    text-align: justify;
    line-height: 1.6;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px 40px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid var(--dark);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--light);
}

header, footer {
    background-color: var(--main);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    padding: 50px;
}

[class*="span-"] {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-12 {
  grid-column: span 12;
}

.span-6 {
  grid-column: span 6;
}

.span-4 {
  grid-column: span 4;
}

.span-3 {
  grid-column: span 3;
}

.draggable {
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.draggable p {
    border: 1px solid var(--dark);
    background-color: var(--main);
    padding: 25px;
    transition: background-color 0.3s;
}

.draggable p:hover {
    background-color: var(--sec);
}

.dropzone {
    border: 1px dashed var(--dark);
    height: 50px;
}

.verify, .retry {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 30px;
    padding: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.verify:hover, .retry:hover { 
    background-color: var(--main);
}

.transition {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.transition:hover { 
    background-color: var(--main);
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}

.visible, .dropped {
    display: block;
}

.no-drag {
    cursor: default;
}
