/* Components Style */

body {
    background-color: var(--main);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
}

.landing {
    height: 50%;
    width: 70%;
    align-content: center;
    justify-items: center;
    margin: auto;
}

.separator {
  margin: 0 10px;
  border-left: 1px solid var(--dark);
  height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

nav {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-x: hidden;
    transition: width 0.5s;
    padding: 10% 0;
    box-sizing: border-box;
}

nav a {
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 0;
    padding: 25px 0;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

nav a:hover {
    background-color: var(--main);
}

nav a[href="module-1.html"]:hover {
    background-color: var(--module-1);
}

nav a[href="module-2.html"]:hover {
    background-color: var(--module-2);
}

nav a[href="module-3.html"]:hover {
    background-color: var(--module-3);
}

.menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.menu span {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--dark);
}

/* Grid Layout */

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    padding: 2% 5%;
    
}

.duo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
    align-items: center;
}

[class*="span-"] {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-12 {
    grid-column: span 12;
}

.span-9 {
    grid-column: span 9;
}

.span-6 {
    grid-column: span 6;
}

.span-4 {
    grid-column: span 4;
}

.span-3 {
    grid-column: span 3;
}

.span-1 {
    grid-column: span 1;
}

.box {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px;
}

/* Interactivity Tools */

.draggable p {
    border: 1px solid var(--dark);
    padding: 20px;
    margin: 30px;
}

.dropzone {
    height: 50px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, var(--low), var(--moderate), var(--high));
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--main);
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--main);
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]:hover {
    opacity: 1;
}

.low {
    background-color: var(--low);
    padding: 5px;
    text-align: center;
}

.moderate {
    background-color: var(--moderate);
    padding: 5px;
    text-align: center;
}

.high {
    background-color: var(--high);
    padding: 5px;
    text-align: center;
}

/* General Styles */

p {
    color: var(--dark);
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

p.small {
    font-size: 0.8rem;
}

label {
    white-space: nowrap;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    color: var(--dark);
    font-family: Verdana, sans-serif;
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

a {
    color: var(--dark);
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 1rem;
}

button {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: none;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 20px;
    margin: 30px;
    cursor: pointer;
}

.transition {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

img.big {
    width: 100px;
    height: 100px;
    margin: 10px 20px;
}

img.medium {
    width: 75px;
    height: 75px;
    margin: 5px 10px;
}

img.small {
    width: 50px;
    height: 50px;
    margin: 0px;
}

table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px;
}

th {
    border: 1px dashed var(--dark);
    border-bottom: none;
    text-align: center;
    padding: 8px;
}

td {
    border: 1px dashed var(--dark);
    border-top: none;
    text-align: center;
    padding: 8px;
}

/* Generic Properties */

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.interactive {
    transition: transform 0.3s ease-in-out;
}

.interactive:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.visible, .dropped {
    display: block;
}

.no-drag {
    cursor: default;
}

.no-padding {
    padding: 0;
}

.no-wrap {
    white-space: nowrap;
}

/* Additional Colors */

.module-1 {
    background-color: var(--module-1);
}

.module-2 {
    background-color: var(--module-2);
}

.module-3 {
    background-color: var(--module-3);
}
