.timeline {
  display: flex;
  list-style-type: none;
  padding: 0;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 20px; /* Adjusted position */
  left: 50%; /* Start from the middle of the first dot */
  width: calc(100% - 20px); /* Adjusted width */
  height: 2px;
  background: #333; /* Dark grey color */
  z-index: 1;
  transform: translateX(-50%);
}

.timeline li {
  position: relative;
  flex: 1;
  padding: 40px 10px 10px; /* Adjusted padding */
  text-align: center;
  margin-right: 10px;
  z-index: 2;
}

.timeline li::before {
  content: '';
  position: absolute;
  top: 20px; /* Adjusted position */
  left: 50%;
  width: 20px; /* Increased size */
  height: 20px; /* Increased size */
  background: #333; /* Dark grey color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.timeline li:last-child::before {
  left: 50%;
}

.timeline li:last-child {
  margin-right: 0;
}
