:root {
    --main: #f5f7f8; /* Grey */
    --acc: #f5d4cb; /* Soft Red */
    --module-1: #b8bbd0; /* Soft Blue */
    --module-2: #d5e5de; /* Soft Green */
    --module-3: #fbeed9; /* Soft Yellow */
    --light: #ffffff; /* White */
    --dark: #0f111d; /* Black */
}
