<html>
  <a href="index.html">
    <img src="assets/logo-color.png" id="color" class="interactive small logo">
    <img src="assets/logo-dark.png" id="dark" class="interactive small logo">
  </a>
  <a href="javascript:void(0);" class="interactive menu">
    <div class="menu">
      <span>
      </span>
      <span>
      </span>
      <span>
      </span>
    </div>
  </a>
  <nav class="nav column">
    <a href="index.html" class="interactive">
      <b>
        La rétroaction efficace
      </b>
    </a>
    <a href="module-1.html" class="interactive module-1">
      Module 1
    </a>
    <a href="module-2.html" class="interactive module-2">
      Module 2
    </a>
    <a href="module-3.html" class="interactive module-3">
      Module 3
    </a>
    <a href="references.html" class="interactive">
      <b>
        Références bibliographiques
      </b>
    </a>
  </nav>
</html>
