<html>
  <img src="assets/logo-color.png" id="color" class="logo">
  <img src="assets/logo-dark.png" id="dark" class="logo">
  <a href="javascript:void(0);" class="menu">
  <div class="menu-bars">
    <span>
    </span>
    <span>
    </span>
    <span>
    </span>
  </div>
  </a>
  <nav class="nav column">
    <a href="index.html">
      <b>
        La rétroaction efficace
      </b>
    </a>
    <a href="module-1.html">
      Module 1
    </a>
    <a href="module-2.html">
      Module 2
    </a>
    <a href="module-3.html">
      Module 3
    </a>
    <a href="references.html">
      <b>
        Références bibliographiques
      </b>
    </a>
  </nav>
</html>
